@font-face {
  font-family: "iconfont"; /* Project id 3321664 */
  src: url('//at.alicdn.com/t/c/font_3321664_ly2utb5355.woff2?t=1668779259679') format('woff2'),
       url('//at.alicdn.com/t/c/font_3321664_ly2utb5355.woff?t=1668779259679') format('woff'),
       url('//at.alicdn.com/t/c/font_3321664_ly2utb5355.ttf?t=1668779259679') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ningbodaxue:before {
  content: "\e63a";
}

.icon-compass:before {
  content: "\e601";
}

.icon-a-codelibrary:before {
  content: "\e602";
}

.icon-chrome:before {
  content: "\e603";
}

.icon-left-square:before {
  content: "\e604";
}

.icon-left-circle:before {
  content: "\e605";
}

.icon-project:before {
  content: "\e607";
}

.icon-bulb:before {
  content: "\e614";
}

.icon-calendar:before {
  content: "\e615";
}

.icon-a-carryout:before {
  content: "\e618";
}

.icon-moneybag:before {
  content: "\e7d1";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-github1:before {
  content: "\ea0b";
}

.icon-bilibili-fill:before {
  content: "\e62a";
}

.icon-bilibili:before {
  content: "\e609";
}

